<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/_head') %>

</head>
<body>
    <%- include('partials/_header') %>
    <br>
    <h1 class="text-center ">PAGINA PRINCIPAL</h1>
    <p class="text-center">Esta pagina se esta utilizando a modo prueba para el desafio 19 de Coderhouse</p>
</body>
</html>