<nav class="navbar navbar-dark  bg-dark m-2">
    <a class="navbar-brand" href="/">CRUD MONGO</a>
    <div class="nav-item nav-item-dar bg-dark"">
        <a class="nav-link" href="/Productos" style="color:aliceblue;">Productos</a>
    </div>
    <div class="nav-item nav-item-dar bg-dark" >
        <a class="nav-link" style="color:aliceblue;"href="/Chat">Mensajeria</a>
    </div>
   
  </nav>