<div class="card" style="height: 350px">
    <div class="card-body overflow-auto">
        <h4 class="card-title text-center ">CHAT</h4>
        <% for( let i = 0; i< mensajes.length ; i++) {%>
            
            <p><%= mensajes[i].autor%> <%= mensajes[i].now %>:<%= mensajes[i].mensaje%></p>
            <%}%>
        </div>
</div-card>