<div class="card">
    <div class="card-body ">
        <h5 class="card-title text-center">
            Enviar mensaje            
        </h5>
        <form action="/chat/add" method="POST">
            <div class="form-group">
                <label>Email:</label>
                <input type="text"name="autor" class="form-control">
            </div>
            <div class="form-group">
                <label>Mensaje:</label>
                <textarea name="mensaje" id="idMensaje" cols="80" class="form-control"></textarea>
            </div>
            <br>
            <button class="btn btn-success">Enviar</button>
        </form>
    </div>
</div>