<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Registro de productos</h4>
        <form action="/productos/add" method="POST">
            <div class="form-group">
                <label for="idNombre" class="">Nombre:</label>
                <br>
                <input type="text" id="idNombre" name="nombre"class="form-control" placeholder="Insertar un nombre">
            </div>
            <div class="form-group">
                <label for="idDescripcion" class="">Descripción:</label>
                <br>
                <textarea cols="80" id="idDescripcion" name="descripcion" class="form-control" placeholder="Insertar una descripcion"></textarea>
            
                </div>
            <div class="form-group">
                <label for="idCodigo" class="">Codigo:</label>
                <br>
                <input type="text" id="idCodigo" name="codigo" class="form-control" placeholder="Insertar un codigo">
            </div>
            <div class="form-group">
                <label for="idPrecio" class="">Precio:</label>
                <br>
                <input type="int" id="idPrecio" name="precio" class="form-control" placeholder="Insertar un precio">
            </div>
            <div class="form-group">
                <label for="idStock" class="">Stock:</label>
                <br>
                <input type="int" id="idStock" name="stock" class="form-control" placeholder="Insertar stock">
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-block">
                Registrar
            </button>
        </form>
    </div>
</div>