<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/_head') %>

</head>
<body>
    <%- include('../partials/_header') %>
    <%- include('../partials/_messages-container')%>
</body>
</html>